/*
 * cover.css: Cover page stylesheet
 */


/*
 * Base structure
 */

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

/* full screen background image */
#full-screen-background-image {
  z-index: -999;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

body {
  color: #00a79d;
  text-align: left;
}

/* Links */
a,
a:focus,
a:hover {
  color: #151515;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

.cover-heading {
  margin-left: 10px;
}

.photo-source {
  font-size:x-small;
  color: #ffffff;
  float: left;
}

.org-source {
  font-size:x-small;
  color: #151515;
  float: right;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}


@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}

.highlight {
  padding: 5px 0px;
  background-color: #00a79d;
  color: #fff;
  line-height: 50px;
  display: inline;
  box-shadow: 5px 0 0 #00a79d, -5px 0 0 #00a79d;
}

.highlight-wrapper {
  margin-left: 15px;
}

.explore-wrapper {
  margin-left: 10px;
}

.explore-text {
  color: #ffffff;
}

.explore-swatch {
  cursor: pointer;
  display: inline-block;
  position: relative;
  height: 200px;
}

.explore-swatch-element {
  display: inline-block;
}

.swatch1 {
  opacity: 0.75;
}

.swatch2 {
  position: absolute;
  opacity: 0.75;
  top: 50px;
  left: 0px;
}

.swatchText {
  position: absolute;
  top: 110px;
  left: 140px;
  color: #ffffff;
  white-space: nowrap;
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
}
