/* Global CSS for Education 2030 */
html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

/* full screen background image */
#full-screen-background-image {
  z-index: -999;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

.header {
	margin: 20px 0px;
}

/* Bootstrap Overrides CSS */
.carousel {
	border: 1px solid grey;
	background-color: #fff;
}

.carousel-control {
	width: 3%;
}

.carousel-control.right, .carousel-control.left {
	background-image: none;
}


/* Titles */
.titleImage {
	margin: 2px 30px;
}

.titleText {
	position: absolute;
	top: -8px;
    left: 40px;
	color: #fff;
}

.titleSubText {
	position: absolute;
	color: #fff;
}

.textPosition1 {
	top: 20px;
	left: 460px;
	width: 500px;	
}

.textPosition2 {
	top: 20px;
    left: 475px;
    width: 370px;	
}

.textPosition3 {
	top: 20px;
    left: 400px;
    width: 550px;	
}

.textPosition4 {
	top: 20px;
	left: 320px;
	width: 600px;	
}




/* Tooltop CSS */
.tooltip { 
    position: absolute;
    text-align: right;
    width: 150px;
    height: auto;
    padding: 8px;
    color: #6D6E70;
    background: #fff;
    font-weight: 400;
    border: solid 4px #666666; /*Changes border width and color of box*/
    border-radius: 0px; /*changes curve of border corner*/
    pointer-events: none;
	z-index: 1031;
} 

.tooltip:after, .tooltip:before { 
	right: 100%; 
	top: 50px; /* Changes placement of tooltip point along specified side */
	border: solid transparent; 
	content: " "; 
	height: 0; 
	width: 0; 
	position: absolute; 
	pointer-events: none; 
} 

.tooltip:after { 
	border-color: rgba(255, 255, 255, 0); 
	border-right-color: #fff; /*Changes Tooltip point's background color*/
	border-width: 15px; /*changes size of Tooltip point's bottom background*/
	margin-top: -15px; /*changes size of Tooltip point's top background*/
} 

.tooltip:before { 
	border-color: rgba(109, 110, 112, 0); 
	border-right-color: #666666; /*Changes Tooltip point's border color*/
	border-width: 20px; /*changes width of Tooltip point's bottom border*/
	margin-top: -20px; /*changes width of Tooltip point's top border*/
}

/* Legend container */
.legend {
	width: 300px;
}

@media (min-width: 768px) { 
	.legend {
		width: 180px;
		position: fixed;
		bottom: 0;
		left: 30px;
	}
}

@media (min-width: 992px) { 
	.legend {
		width: 240px;
		position: fixed;
		bottom: 0;
		left: 30px;
	}

}

@media (min-width: 1200px) { 
	.legend {
		width: 300px;
		position: fixed;
		bottom: 0;
		left: 30px;
	}
}

/* Toggle switch */
.toggle {
	cursor: pointer;
	position: fixed;
	bottom: 0;
	right: 0px;
	width: 200px;
}

#leftToggleText {
    position: absolute;	
    top: -38px;
	left: -60px;
}

#rightToggleText {
    position: absolute;	
    top: -38px;
	left: 70px;
	color: #d1d2d3;
}



/* Flow map arcs */
#arcs path {
	fill: none;
	stroke-opacity: .9;
}