/* Global CSS for Education 2030 */
.header {
	margin: 20px 0px 50px 0px;
}

/* Bootstrap Overrides CSS */
.carousel-control {
	width: 3%;
}

.carousel-control.right, .carousel-control.left {
	background-image: none;
}


/* Tooltop CSS */
.tooltip { 
    position: absolute;
    text-align: right;
    width: 150px;
    height: auto;
    padding: 8px;
    color: #6D6E70;
    background: #fff;
    font-weight: 400;
    border: solid 4px #666666; /*Changes border width and color of box*/
    border-radius: 0px; /*changes curve of border corner*/
    pointer-events: none;
	z-index: 1031;
} 

.tooltip:after, .tooltip:before { 
	right: 100%; 
	top: 50px; /* Changes placement of tooltip point along specified side */
	border: solid transparent; 
	content: " "; 
	height: 0; 
	width: 0; 
	position: absolute; 
	pointer-events: none; 
} 

.tooltip:after { 
	border-color: rgba(255, 255, 255, 0); 
	border-right-color: #fff; /*Changes Tooltip point's background color*/
	border-width: 15px; /*changes size of Tooltip point's bottom background*/
	margin-top: -15px; /*changes size of Tooltip point's top background*/
} 

.tooltip:before { 
	border-color: rgba(109, 110, 112, 0); 
	border-right-color: #666666; /*Changes Tooltip point's border color*/
	border-width: 20px; /*changes width of Tooltip point's bottom border*/
	margin-top: -20px; /*changes width of Tooltip point's top border*/
}


/* Flow map arcs */
#arcs path {
	fill: none;
	stroke-opacity: .9;
}