
/* Global CSS for Education 2030 */
html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

/* full screen background image */
#background, #background li { 
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  background: url('images/BackgroundImage.png');
  background-color: transparent; 
  background-size: cover; 
  background-position: center center; 
  background-repeat: no-repeat; 
  
}

#background { 
  z-index: -1;
  margin: 0; 
  padding: 0; 

/*
* loading screen modals
*/

body.loading {
    overflow: hidden;   
}

body.loading .loading-modal {
    display: block;
}


.loading-modal {
    display:    none;
    position:   fixed;
    z-index:    10000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    opacity:  	0.9;
    background: url('images/spinner.gif') 
                50% 50% 
                no-repeat;
    background-color: #fff;
}

.loading-white-space {
	z-index: 10000;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #fff;
}

.loaded-white-space {
	z-index: -10000;
	height: 0;
	width: 0;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}


svg.svg-loading {
	opacity: 0;
}

svg.svg-loaded {
	opacity: 1;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}


/* Bootstrap Overrides CSS */
.navbar-default {
	background-color: transparent;
	border-color: transparent;
}

.navbar-nav>li>a {
	padding-top: 9px;
	padding-bottom: 9px;
}

.nav-image {
	padding-top: 6px;
	margin-left: -6px;
	margin-right: -6px;
}
.navbar-default .navbar-nav>.active {
	padding: 15px 5px;
}

.navbar-default .navbar-nav>.active>a {
	color: #fff;
	background-color: #c4c6c8;
}

.navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	color: #eee;
	background-color: #c4c6c8;
}

.carousel {
	border: 1px solid grey;
	background-color: #fff;
}

.carousel-control {
	width: 3%;
}

.carousel-control.right, .carousel-control.left {
	background-image: none;
}

/* Top nav menu CSS */
.header-image {
	height: 150px;
}

.paddingTop15 {
	padding-top: 15px;
}

.explore-swatch {
  cursor: pointer;
  display: block;
  position: relative;
  padding-bottom: 5px;
}

.explore-swatch-element {
  display: inline-block;
}

.swatch1 {
  opacity: 0.75;
}

.swatch2 {
  position: absolute;
  opacity: 0.75;
  top: 0px;
  left: 20px;
}

.swatchText {
  position: absolute;
  top: 4px;
  left: 50px;
  color: #ffffff;
  white-space: nowrap;
}

/* Titles */
.titleImage {
	margin: 2px 30px;
}

.titleText {
	position: absolute;
	top: -8px;
    left: 40px;
	color: #ffffff;
}

.titleSubText {
	position: absolute;
	color: #ffffff;
}

.textPosition1 {
	top: 20px;
	left: 460px;
	width: 500px;	
}

.textPosition2 {
	top: 20px;
    left: 475px;
    width: 370px;	
}

.textPosition3 {
	top: 20px;
    left: 400px;
    width: 550px;	
}

.textPosition4 {
	top: 20px;
	left: 320px;
	width: 600px;	
}

.org-source {
  font-size:x-small;
  color: #151515;
  padding-left: 10px;
}


/* Tooltop CSS */
.tooltip { 
    position: absolute;
    text-align: right;
    width: 300px;
    height: auto;
    padding: 8px;
    color: #6D6E70;
    background: #fff;
    font-weight: 400;
    border: solid 2px #666666; /*Changes border width and color of box*/
    border-radius: 0px; /*changes curve of border corner*/
    pointer-events: none;
	z-index: 1031;
} 

.tooltip:after, .tooltip:before { 
	right: 100%; 
	top: 50px; /* Changes placement of tooltip point along specified side */
	border: solid transparent; 
	content: " "; 
	height: 0; 
	width: 0; 
	position: absolute; 
	pointer-events: none; 
} 

.tooltip:after { 
	border-color: rgba(255, 255, 255, 0); 
	border-right-color: #fff; /*Changes Tooltip point's background color*/
	border-width: 15px; /*changes size of Tooltip point's bottom background*/
	margin-top: -15px; /*changes size of Tooltip point's top background*/
} 

.tooltip:before { 
	border-color: rgba(109, 110, 112, 0); 
	border-right-color: #666666; /*Changes Tooltip point's border color*/
	border-width: 18px; /*changes width of Tooltip point's bottom border*/
	margin-top: -18px; /*changes width of Tooltip point's top border*/
}

.tooltip-onboard { 
    position: absolute;
    text-align: right;
    width: 300px;
    height: auto;
    padding: 8px;
    color: #6D6E70;
    background: #fff;
    font-weight: 400;
    border: solid 2px #666666; /*Changes border width and color of box*/
    border-radius: 0px; /*changes curve of border corner*/
    pointer-events: none;
	z-index: 1031;
} 

/* Legend container */
.legend {
	width: 300px;
}

@media (min-width: 768px) { 
	.legend {
		width: 180px;
		position: fixed;
		bottom: 50px;
		left: 30px;
	}
}

@media (min-width: 992px) { 
	.legend {
		width: 240px;
		position: fixed;
		bottom: 50px;
		left: 30px;
	}

}

@media (min-width: 300px) { 
	.legend {
		width: 900px;
		position: fixed;
		bottom: 5px;
		left: 30px;
	}
}

/* Toggle switch */
.toggle {
	cursor: pointer;
	position: fixed;
	bottom: 160px;
	left: 30px;
	width: 200px;
}

#leftToggleText {
    position: absolute;	
    top: -27px;
	left: -25px;
	font-size:x-small;
}

#rightToggleText {
    position: absolute;	
    top: -27px;
	left: 38px;
	color: #d1d2d3;
	font-size:x-small;
}

